/* * {border: 1px solid red;} */

#activity {
    /* border: 1px solid red; */
    min-height: 400px;
    margin-top: 50px;
}

#activity .wrapper-photo {
    min-height: 300px;
    display: flex;
    /* flex-direction: row-reverse; */
    flex-wrap: wrap;
}

#activity .wrapper-photo .photo {
    height: 200px;
    width: 100px;
    padding: 10px;
}

#activity .wrapper-photo .photo img {
    width: 100%;
    height: 100%;
    filter: grayscale(45%);
}


#activity .activity-contents {
    display: flex;
    flex-wrap: wrap;
}

#activity h3 {
    text-align: center;
    margin: auto;
    width: 200px;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-weight: lighter;
    letter-spacing: 1px;
    color: rgb(51, 51, 51);
    font-size: 18px;
    position: relative;
}

#activity h3::after {
    content: '';
    border: 1px solid black;
    display: block;
    width: 40px;
    margin: auto;
    border-radius: 100%;
    background-color: black;
    padding: 1px;
    margin-top: 4px;
}

#activity .activity-contents {
    margin-top: 38px;
}

#activity .activity-contents .content {
    width: 50%;
    height: 150px;
    padding: 15px 10px;
    /* border: 1px solid red; */
    /* border: 1px solid blue; */
    
}

#activity .activity-contents .content .tab {
    /* min-height: 300px; */
    height: 100%;
    background-color: rgba(245, 245, 245, 0.281);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    border-bottom: 1px solid gainsboro;
    border-top: 1px solid gainsboro;
}

#activity .activity-contents .content .tab .thumb {
    width: 170px;
    height: 100%;
}

#activity .activity-contents .content .tab .thumb img {
    width: 100%;
    height: 100%;
}


#activity .activity-contents .content .tab .wrapper-data {
    padding: 10px;
    width: 300px;
    /* border: 1px solid red; */
    /* padding-top: 0; */
}

#activity .activity-contents .content .tab .wrapper-data span {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
}

#activity .activity-contents .content .tab .wrapper-data span a:hover {
    color: rgb(46, 161, 71);
    transition: 0.5s;
}

#activity .activity-contents .content .tab .wrapper-data p {
    font-size: 12px;
    color: rgb(70, 70, 70);
}

#activity .activity-contents .content .tab .wrapper-data .date {
    font-size: 10px;
    color: gray;
    letter-spacing: 1px;
}

/* VACTIVITY */
.vactivity {
    /* border: 1px solid red; */
    margin-top: 20px;
}

.vactivity .title {
    text-align: center;
    margin-bottom: 40px;
}

.vactivity .title h2 {
    margin-bottom: 18px;
    position: relative;
}
.vactivity .title h2::after {
    content: "";
    display: block;
    border: 1px solid black;
    width: 70px;
    background-color: black;
    border-radius: 100%;
    padding: 1px;
   
    margin: auto;
    margin-top: 10px;
}

.vactivity .title span {
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    color: rgb(148, 106, 40);
    letter-spacing: 1px;
}

.vactivity .title div {
    text-transform: uppercase;
    font-size: 14px;
    color: rgb(65, 65, 65);
    letter-spacing: 2px;
}

.vactivity hr {
    margin-top: 20px;
    margin-bottom: 50px;
    /* color: red; */
    /* background-color: aqua; */
    
}

.vactivity .thumb {
    width: 75%;
    margin: auto;
    height: 460px;
}


.vactivity .thumb img {
    width: 100%;
    height: 100%;
}

.vactivity .content {
    /* border: 1px solid gainsboro; */
    margin-top: 50px;
}

.vactivity .content {
    width: 75%;
    margin: auto;
    margin-top: 20px;
}

.vactivity .content .photos {
    /* border: 1px solid  red; */
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.vactivity .content .photos .photo {
    width: 160px;
    height: 160px;
    padding: 2px;
    margin: 8px;
    border: 1px solid gainsboro;
    background-color: rgba(127, 255, 212, 0.171);
    border-radius: 4px;
}

.vactivity .content .photos .photo img {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    #activity .wrapper-photo .photo {
        width: 100% !important;
    }

    #activity .activity-contents {
        display: block;
    }




    #activity .activity-contents {
        display: block;
        /* border: 1px solid red; */
    }

    
    #activity .activity-contents .content {
        width: 100%;
        height: 100%;
        position: relative;
        /* border: 1px solid steelblue; */
    }

    #activity .activity-contents .tab {
        display: block;
        /* border: 1px solid blue; */
        width: 100%;
        height: 100px;
    }

    #activity .activity-contents .content .tab .thumb {
        width: 100%;
    }

    #activity .activity-contents .content .tab .wrapper-data {
        width: 100%;
        /* border: 1px solid rgb(153, 12, 12); */
    }

    .vactivity .thumb {
        width: 100%;
        height: 240px;
    }

    .vactivity .content {
        width: 100%;
    }
}