/* * {border: 1px solid red;} */

#eview {
    /* background-color: red; */
    min-height: 400px;
    margin-top: 70px;
}

#eview .thumb {
    height: 400px;
    position: relative;
}

#eview .thumb img {
    width: 100%;
    height: 100%;
    filter: grayscale(45%);
}

#eview .thumb .space {
    position: absolute;
    /* background-color: red; */
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#eview .thumb .space .cardboard {
    background-color: rgba(0, 0, 0, 0.637);
    height: 50%;
    width: 50%;
    text-align: center;
    padding: 40px;
    color: white;
    border: 2px solid rgba(245, 245, 245, 0.301);
}

#eview .thumb .space .cardboard .topic {
    border: 2px solid white;
    padding: 6px 12px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: inline-block;
}
#eview .thumb .space .cardboard .advance {
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 2px;
}
#eview .thumb .space .cardboard .calendar {
    font-size: 10px;
    text-transform: uppercase;
}



#eview .place-to-read {
    /* background-color: red; */
    min-height: 100px;
    /* border: 1px solid red; */
   
    width: 75%;
    margin: auto;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
}

#eview .place-to-read .quote {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    font-style: italic;
    width: 70%;
    margin: auto;
    letter-spacing: 1px;
}

#eview .place-to-read p {
    font-size: 14px;
    margin: 0;
}

#eview .conclusion {
    border: 2px solid black;
    padding: 20px;
    margin-top: 50px;
    font-style: italic;
}

#eview .comment {
    border: 1px solid gainsboro;
    min-height: 400px;
    padding: 20px;
    margin-top: 55px;
    position: relative;
}

#eview .comment h6 {
    font-weight: lighter;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

#eview .comment .text-comment textarea {
    width: 100%;
    outline: none;
    padding: 20px;
}

#eview .comment .text-comment span {
    text-transform: uppercase;
    font-size: 11px;
    /* font-weight: bold; */
    letter-spacing: 2px;
}

#eview .comment .text-data {
    display: flex;
    justify-content: center;
    margin: 0 5px;
}

#eview .comment .text-data .text-numb, #eview .comment .text-data .text-email, #eview .comment .text-data .text-name {
    flex: 1;
    margin: 0px;
    
}

#eview .comment .text-data .text-numb {
    margin: 0 4px;
}

#eview .comment .text-data input {
    width: 100%;
    height: 35px;
    outline: none;
    padding: 4px 10px;
}

#eview .comment .text-data span {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
}

#eview .comment .btn-comment button {
    background: none;
    padding: 14px 14px;
    margin-left: 50px;
    border: 2px solid black;
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 10px;
    letter-spacing: 1px;
    cursor: pointer;
    
}

#eview .comment .btn-comment button:hover {
    background-color: rgb(16, 22, 16);
    border: 2px solid rgb(16, 22, 16);
    color: white;
}

/* @media only screen and (max-width: 600px) */ 
@media only screen and (max-width: 600px) {

    #eview {
        width: 100%;
        /* border: 1px solid red; */
    }

    #eview .place-to-read .quote {
        width: 100%;
    }

    #eview .thumb {
        height: 300px !important;
        /* border: 1px solid red; */
    }
    #eview .thumb .space .cardboard {
        width: 100%;
        height: 100%;
    }

    #eview .place-to-read {
        width: 100%;
    }

    /* |||||| */
    #eview .comment {
        background-color: rgba(220, 220, 220, 0.308);
    }

    #eview .comment .text-data {
        display: block;
    }

    #eview .comment .text-data .text-numb, #eview .comment .text-data .text-email, #eview .comment .text-data .text-name  {
        margin: 0;
    }
}