ul li {list-style: none;}


.table-data {
    /* border: 1px solid rgb(25, 101, 224); */
    border-collapse: collapse;
    margin-top: 40px;
    min-width: 95%;
    /* padding: 10px; */
    position: relative;
}

/* .table-data tr {
    border: 1px solid black;
} */

.table-data tr td {
    border: 1px solid rgba(250, 249, 249, 0.411);
    padding: 8px;
    margin: 0;
    /* border-collapse: collapse; */
}

.table-data thead {
    text-align: center;
    text-transform: capitalize;
    background-color: rgb(144, 148, 148);
    color: white;
    /* font-weight: bold; */
}

.table-data tbody tr {
    background-color: rgb(217, 224, 230);
}

.table-data tbody tr td .imgs {
    width: 80px;
    height: 50px;
    margin: auto;
}

.table-data tbody tr td .imgs img {
    width: 100%;
    height: 100%;
}

.table-data tbody tr td {
    text-transform: capitalize;
    font-size: 14px;
}

.table-data tbody tr td.action {
    text-align: center;
}

.table-data tbody tr td.action a {
    margin: 4px 8px;
    
}

.table-data tbody tr td:nth-child(1) {
    text-align: center;
}

.table-data tbody tr td.action a:nth-child(1) {
    color: rgb(26, 224, 26);
    border: 2px solid rgb(26, 224, 26);
    padding: 4px 6px;
    border-radius: 4px;
}
.table-data tbody tr td.action a:nth-child(2) {
    color: rgb(243, 91, 31);
    border: 2px solid rgb(243, 91, 31);
    padding: 4px 6px;
    border-radius: 4px;
}

.table-data tbody tr:nth-child(2n) {
    background-color: rgb(243, 236, 236);
}

.add-data {
    position: fixed;
    z-index: 99;
    display: flex;
    width: 40px;
    height: 40px;
    /* padding: 10px; */
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(209, 219, 216);
    background-color: rgb(17, 141, 250);
    border-radius: 100%;
    right: 100px;
    top: 100px;
    box-shadow: 2px 2px 3px slategrey;
    transition: 0.7s all;
}

.add-data:hover {
    background-color: rgba(70, 131, 180, 0.664);
}

.add-data a {
    font-size: 17px;
    color: white;
}



@media only screen and (max-width: 600px) {
    .table-data tbody tr td.action a {
        /* margin-top: 30px; */
        display: inline-block;
    }

    .table-data {
        width: 85%;
    }

    .table-data thead tr td.hidden, .table-data tbody tr td.hidden {
        display: none;
    }
}