/* * {
    border: 1px solid red;
} */

/* body {
    background-color: red;
} */

.navigasi {
    position: fixed;
    /* width: 200px; */
    /* border: 1px solid black; */
    min-height: 100vh;
    background-color: rgba(245, 245, 245, 0.616);
    border-right: 1px solid rgba(71, 67, 67, 0.308);
}

.navigasi .navbar .nav-brand {
    padding: 20px;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.308);
    background-color: whitesmoke;
}

.navigasi .navbar .nav-brand a {
    color: black;
    text-decoration: none;
    text-transform: capitalize;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
}

.navigasi .navbar .nav-menu {
    padding: 20px;
    position: relative;
    /* margin-bottom: 20px; */
    /* border: 1px solid red; */
}

.navigasi .navbar .nav-menu::after {
    content: '';
    display: block;
    border: 1px solid black;
    padding: 1px;
    width: 30px;
    background-color: black;
    border-radius: 19px;
    margin-top: 5px;
}

.navigasi .navbar .nav-menu .title {
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    font-style: italic;
}

.navigasi .navbar .nav-menu .menu a {
    text-transform: capitalize;
    font-size: 13px;
    letter-spacing: 1px;
}

.navigasi .navbar .nav-menu .menu {
    margin-bottom: 10px;
}

.navigasi .navbar .nav-menu .menu a:hover {
    color: rgb(7, 39, 39);
    transition: 0.8s;
}

.btn-navbar {
    display: none;
}

.navigasi .navbar .nav-dash {
    padding: 20px;
    position: relative;
}

.navigasi .navbar .nav-dash::after {
    content: '';
    display: block;
    position: absolute;
    width: 80px;
    border: 2px solid black;
    border-radius: 100%;
    margin-top: 4px;
}

.navigasi .navbar .nav-dash .dash {
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 17px;
    font-weight: bold;
}

.navigasi .navbar .nav-dash .dash a:hover {
    color: rgb(97, 97, 84);
}

@media only screen and (max-width: 600px) {
    .btn-navbar {
        display: block;
        position: fixed;
        right: 12px;
        top: 12px;
        z-index: 100;
        background-color: white;
        border: 2px solid rgba(10, 10, 10, 0.171);
        padding: 5px;
        border-radius: 6px;
    }

    .btn-navbar .btn-nav {
        border: none;
        background:none;
        font-size: 30px;
        cursor: pointer;
    }

    .navigasi {
        z-index: 99;
    }

    .navigasi .navbar .nav-brand {
        background-color: steelblue;
    }

    .navigasi .navbar .nav-brand a {
        color: white;
    }

    .navigasi {
        transform: translateX(-100%);
        transition: 0.5s all;
        width: 65%;
        background-color: rgb(70, 131, 180);
    }

    /* .navigasi .navbar .nav-menu .menu a {
        color: wheat;
    } */

    .navigasi-show {
        transform: translateX(0);
    }

    .navigasi .navbar .nav-menu .menu a {
        color: white;
    }
}